.header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 11rem;

  @media (max-width: em(992)) {
    min-height: 8rem;
  }

  @media (max-width: em(575)) {
    min-height: 6rem;
  }
  &__wrapper {
    display: flex;
    align-items: center;
  }
}
