.other {
  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__content {
    max-width: 58rem;

    @media (max-width: em(1200)) {
      max-width: 45rem;
    }

    @media (max-width: em(992)) {
      margin-right: 0;
      max-width: 100%;
    }
  }

  &__title {
    margin-bottom: 2.5rem;
  }

  &__description {
    font-size: fluid-font(1.8rem, 1.6rem);
    line-height: 150%;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__list {
    list-style: disc;
    margin-bottom: 1rem;
    margin-left: 2rem;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__image {
  position: absolute;
  right: -8rem;
  top: 50%;
  transform: translateY(-50%);
  max-width: 64rem;

    @media (max-width: em(1350)) {
      right: 0;
     max-width: 55rem;
    }

    @media (max-width: em(1200)) {
      max-width: 50rem !important;
    }

    @media (max-width: em(992)) {
      display: none;
    }
  }
}
