.vpn {
  &__wrapper {
    position: relative;
  }

  &__content {
    position: relative;
    z-index: 1;
    max-width: 68rem;

    @media (max-width: em(1200)) {
      max-width: initial;
    }
  }

  &__title {
    margin-bottom: 2.5rem;
  }

  &__text {
    P:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__image {
    position: absolute;
    right: -12rem;
    top: 50%;
    max-width: 75rem;
    transform: translateY(-50%);

    @media (max-width: em(1200)) {
      display: none;
    }
  }
}
